QWECC

>Questions - Either from the Client, or from yourself for research purposes

>Wrangle

>Explore

>Conclusions

>Communicate

#`Data Wrangling - Gather the data - You need to answer your questions`

## Importing of packages

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

df = pd.read_csv('dataname.csv', sep = ';')

df = pd.read_csv('student_scores.csv', index_col='Name')

df = pd.read_csv('student_scores.csv', index_col=['Name', 'ID'])

# save this for later
df.to_csv('cancer_data_edited.csv', index=False)

#`Data wrangling II - Assess your data - Identifing any problems in your dataâ€™s quality or structure.`

In [ ]:
# this returns a tuple of the dimensions of the dataframe

df.shape

In [ ]:
# this returns the datatypes of the columns

df.dtypes

In [ ]:
# although the datatype for diagnosis appears to be object, further
# investigation shows it's a string

type(df['diagnosis'][0])

In [ ]:
# this displays a concise summary of the dataframe,
# including the number of non-null values in each column

df.info()

In [ ]:
# this returns the number of unique values in each column

df.nunique()

In [ ]:
# this returns useful descriptive statistics for each column of data

df.describe()


# .describe() bring parts such as mean, std..
#you can access them individually by using

df.mean()
df.std()
df.age.mean()

In [ ]:
#this brings out a list of column labels

df.columns

In [ ]:
# this returns the first few lines in our dataframe
# by default, it returns the first five

df.head()

In [ ]:
# although, you can specify however many rows you'd like returned

df.head(20)

In [ ]:
# same thing applies to `.tail()` which returns the last few rows

df.tail(2)

In [ ]:
# check value counts of a column

df['column name'].value_counts()

#`Clean your data -  Modifying, Replacing, Removing data.`

##Removing empty values

Using `isnull()` to give a bool return of empty values. `sum()` is used to add up all empty values in the particular

In [ ]:
df.isnull().sum()

Using `mean()` to replace empty cells

In [ ]:
mean = df['column_name'].mean()
df['column_name'].fillna(mean, inplace = True)

## Removing duplicates

Using `duplicated()` to find the rows with duplicated

In [ ]:
df.duplicated()

Using `duplicated()` with `sum()` to find the sum of duplicated

In [ ]:
sum(df.duplicated())

In [ ]:
df.duplicated().sum()

## Dropping or Removing duplicates

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
# drop rows with any null values in both datasets

df.dropna(inplace=True)

In [ ]:
# checks if any of columns in 2008 have null values - should print False

df.isnull().sum().any()

## Deleting columns

In [ ]:
df.drop(['column_name_1', 'column_name_2', 'column_name_3'], axis=1, inplace=True)

## Creating new columns

In [ ]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

df_18.cyl = df_18.cyl.astype(int)

## Renaming Columns

In [ ]:
df.rename(columns = {'oldname':'newname'}, inplace = True)

Another way

In [ ]:
# remove "_mean" from column names
new_labels = []
for col in df.columns:
    if '_mean' in col:
        new_labels.append(col[:-5])  # exclude last 6 characters
    else:
        new_labels.append(col)

# new labels for our columns
new_labels

# assign new labels to columns in dataframe
df.columns = new_labels

# display first few rows of dataframe to confirm changes
df.head()

In [ ]:
labels = ['id', 'name', 'attendance', 'hw', 'test1', 'project1', 'test2', 'project2', 'final']
df = pd.read_csv('student_scores.csv', names=labels)
df.head()

## View the index number and label for each column

In [ ]:
# View the index number and label for each column
for i, v in enumerate(df.columns):
    print(i, v)

## Changing datatypes

### Extracting int from string

In [ ]:
df['column_name'].str.extract('(\d+)').astype(int)

## LAMBDA functions

Using lambda functions to split columns

In [ ]:
# create two copies of the 2008 hybrids dataframe
df1 = hb_08.copy()  # data on first fuel type of each hybrid vehicle
df2 = hb_08.copy()  # data on second fuel type of each hybrid vehicle

# Each one should look like this
df1

# columns to split by "/"
split_columns = ['fuel', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

     combine dataframes to add to the original dataframe
new_rows = df1.append(df2)

# now we have separate rows for each fuel type of each vehicle!
new_rows

Upper to lower case

In [ ]:
# replace spaces with underscores and lowercase labels for 2008 dataset
df_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# confirm changes
df_08.head(1)

Rename Columns

In [ ]:
# rename 2008 columns
df_08.rename(columns=lambda x: x[:10] + "_2008", inplace=True)

## Making checks

In [ ]:
# check that all the original hybrid rows with "/"s are gone

df[df['column_name'].str.contains('/')]

In [ ]:
df_08.columns == df_18.columns

In [ ]:
# make sure they're all identical like this
(df_08.columns == df_18.columns).all()

#`Visualizations - and models.`

## numpy

Using the `repeat()` in numpy

In [ ]:
color_red = np.repeat('red', 1599)

# create color array for white dataframe
color_white = np.repeat('white', 4898)

red_df['color'] = color_red
red_df.head()

## Queries

In [ ]:
df_m = df[df['diagnosis'] == 'M']
df_m.head()

# sales on march 13, 2016
df_m = df[df['week'] == '2016-03-13']
df_m

# worst week for store C
df_v = df[df['storeC'] == 927]
df_v

# selecting malignant records in cancer data
df_m = df[df['diagnosis'] == 'M']
df_m = df.query('diagnosis == "M"')

# selecting records of people making over $50K
df_a = df[df['income'] == ' >50K']
df_a = df.query('income == " >50K"')

# selecting records in cancer data with radius greater than the median
df_h = df[df['radius'] > 13.375]
df_h = df.query('radius > 13.375')

## Group By

In [ ]:
df.mean()

df.groupby('quality').mean()

df.groupby(['quality', 'color'], as_index=False)['pH'].mean()

# Find the mean quality of each wine type (red and white) with groupby
df.groupby(['color']) ['quality'].mean()

## Combining datasets

Using the `append()` method in pandas to merge datasets

In [ ]:
# append dataframes
df_full = df_part_a.append(df_part_b, ignore_index = True)
# view dataframe to check for success
df_full.info()

## Using the `hist()` function and `figsize()`

In [ ]:
df.hist()

df.hist(figsize = (n,n));

#The hist on a specific column in the dataset
df['column_name'].hist();

#Generalizing the plot
df['age'].plot(kind = 'hist');

Decorating Histograms

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

wine_df = pd.read_csv('winequality.csv')
wine_df.head()
colors = ['red', 'white']
color_means =wine_df.groupby('color')['quality'].mean()
color_means.plot(kind='bar', title='Average Wine Quality by Color', color=colors, alpha=.7);
plt.xlabel('Colors', fontsize=18)
plt.ylabel('Quality', fontsize=18)

## Using the `pie`, `bar`

In [ ]:
df['column_name'].plot(kind = 'box');

df['education'].value_counts().plot(kind='bar');

df['workclass'].value_counts().plot(kind='pie', figsize= (8,8));

## Using `scatterplot`

In [ ]:
# general plotting of the whole data
pd.plotting.scatter_matrix(df, figsize = (15,15));

#using two columns of your choice to plot a scatter matrix
df.plot(x='compactness', y= 'concavity', kind = 'scatter');

## Standardizing plots

In [ ]:
ind = df_a['education'].value_counts().index
df_a['education'].value_counts()[ind].plot(kind = 'bar')

## Matplotlib

In [ ]:
import matplotlib.pyplot as plt
% matplotlib inline

plt.bar([1, 2, 3], [224, 620, 425]);

# plot bars
plt.bar([1, 2, 3], [224, 620, 425])

# specify x coordinates of tick labels and their labels
plt.xticks([1, 2, 3], ['a', 'b', 'c']);

# plot bars with x tick labels
plt.bar([1, 2, 3], [224, 620, 425], tick_label=['a', 'b', 'c']);

#Set the title and label axes like this.
plt.bar([1, 2, 3], [224, 620, 425], tick_label=['a', 'b', 'c'])
plt.title('Some Title')
plt.xlabel('Some X Label')
plt.ylabel('Some Y Label');

In [ ]:
alt_08 = df_08.query('fuel in ["CNG", "ethanol"]').model.nunique()
alt_08

alt_18 = df_18.query('fuel in ["Ethanol", "Electricity"]').model.nunique()
alt_18

plt.bar(["2008", "2018"], [alt_08, alt_18])
plt.title("Number of Unique Models Using Alternative Fuels")
plt.xlabel("Year")
plt.ylabel("Number of Unique Models");

In [ ]:
#Let's look at the average fuel economy for each vehicle class for both years.

veh_08 = df_08.groupby('veh_class').cmb_mpg.mean()
veh_08

veh_18 = df_18.groupby('veh_class').cmb_mpg.mean()
veh_18

# how much they've increased by for each vehicle class
inc = veh_18 - veh_08
inc

# only plot the classes that exist in both years
inc.dropna(inplace=True)
plt.subplots(figsize=(8, 5))
plt.bar(inc.index, inc)
plt.title('Improvements in Fuel Economy from 2008 to 2018 by Vehicle Class')
plt.xlabel('Vehicle Class')
plt.ylabel('Increase in Average Combined MPG');

## Merging

Types of Merges

**Here are the four types of merges in pandas.**

>Below, "key" refers to common columns in both dataframes that we're joining on.

>Inner Join - Use intersection of keys from both frames. 

>Outer Join - Use union of keys from both frames. 

>Left Join - Use keys from left frame only. 

>Right Join - Use keys from right frame only.

Use Pandas Merges to create a combined dataset from `clean_08.csv` and `clean_18.csv`.

In [ ]:
# merge datasets
df_combined = df_08.merge(df_18, left_on='model_2008', right_on='model', how='inner')

# view to check merge
df_combined.head()

#`Draw conclusions - even make predictions.`

# `Questions`

### What level of acidity receives the highest average rating?

In [ ]:
# View the min, 25%, 50%, 75%, max pH values with Pandas describe
df.describe().pH

# Bin edges that will be used to "cut" the data into groups
categories = [2.72, 3.11, 3.21, 3.32, 4.01] # Fill in this list with five values you just found

# Labels for the four acidity level groups
catergory_labels = ['high', 'mod_high', 'medium', 'low'] # Name each acidity level category

# Creates acidity_levels column
df['acidity_levels'] = pd.cut(df['pH'], categories, labels=catergory_labels)

# Checks for successful creation of this column
df.head()

# Find the mean quality of each acidity level with groupby
df.groupby('acidity_levels').mean().quality

### Do wines with higher alcoholic content receive better ratings?

In [ ]:
# get the median amount of alcohol content
df.alcohol.median()

# select samples with alcohol content less than the median
low_alcohol = df.query('alcohol < 10.3')

# select samples with alcohol content greater than or equal to the median
high_alcohol = df.query('alcohol >= 10.3')

# ensure these queries included each sample exactly once
num_samples = df.shape[0]
num_samples == low_alcohol['quality'].count() + high_alcohol['quality'].count() # should be True

# get mean quality rating for the low alcohol and high alcohol groups
low_alcohol.quality.mean()

high_alcohol.quality.mean()

Another Solution

In [ ]:
# Import necessary packages and load `winequality_edited.csv`
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('winequality_edited.csv')

# Use query to select each group and get its mean quality
alcohol_median = df.alcohol.median()
low_alcohol_df = df.query('alcohol < {}'.format(alcohol_median))
high_alcohol_df = df.query('alcohol >= {}'.format(alcohol_median))

meanQuality_lowAlcohol_df = low_alcohol_df.quality.mean()
meanQuality_highAlcohol_df = high_alcohol_df.quality.mean()

# Create a bar chart with proper labels
x = [1, 2]
y = [meanQuality_lowAlcohol_df, meanQuality_highAlcohol_df]
x_labels = ['Low', 'High']
plt.bar(x, y, tick_label=x_labels)
plt.title('Average Quality Ratings by Alcohol Content')
plt.xlabel('Alcohol Content')
plt.ylabel('Average Quality Rating');

### Do sweeter wines receive better ratings?

In [ ]:
# get the median amount of residual sugar
df.residual_sugar.median()

# select samples with residual sugar less than the median
low_sugar = df.query('residual_sugar < 3.0')

# select samples with residual sugar greater than or equal to the median
high_sugar = df.query('residual_sugar >= 3.0')

# ensure these queries included each sample exactly once
num_samples == low_sugar['quality'].count() + high_sugar['quality'].count() # should be True

# get mean quality rating for the low sugar and high sugar groups
low_sugar.quality.mean()

high_sugar.quality.mean()

### For all of the models that were produced in 2008 that are still being produced now, how much has the mpg improved and which vehicle improved the most?

*Remember to use your new dataset, `combined_dataset.csv`. You should've created this data file in the previous section: *Merging Datasets*.*

In [ ]:
# load datasets
import pandas as pd

df_08 = pd.read_csv('clean_08.csv')
df_18 = pd.read_csv('clean_18.csv')

1. Create a new dataframe, model_mpg, that contain the mean combined mpg values in 2008 and 2018 for each unique model
To do this, group by model and find the mean cmb_mpg_2008 and mean cmb_mpg for each.

In [ ]:
model_mpg = df.groupby('model').mean()[['cmb_mpg_2008', 'cmb_mpg']]
model_mpg.head()

2. Create a new column, mpg_change, with the change in mpg
Subtract the mean mpg in 2008 from that in 2018 to get the change in mpg

In [ ]:
model_mpg['mpg_change'] = model_mpg['cmb_mpg'] - model_mpg['cmb_mpg_2008']
model_mpg.head()

3. Find the vehicle that improved the most
Find the max mpg change, and then use query or indexing to see what model it is!

In [ ]:
max_change = model_mpg['mpg_change'].max()
max_change

model_mpg[model_mpg['mpg_change'] == max_change]

Pandas also has a useful [`idxmax`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.idxmax.html) function you can use to find the index of the row containing a column's maximum value!

In [ ]:
idx = model_mpg.mpg_change.idxmax()
idx

model_mpg.loc[idx]